/**
 * Site header
 */
.site-header {
    //border-top: 5px solid $grey-color-dark;
    //border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    padding-top: 10px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    margin-left: $padding-unit; 

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    margin-right: $padding-unit;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.push {
    height: $footer-height;
}

.site-footer {
    height: $footer-height;
    //padding: $spacing-unit 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    overflow: hidden;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 13px;
    color: $background-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    padding-top: 60px;
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    text-shadow: 1px 1px 1px #000;
    a {
        color: lighten($brand-color, 10%);
        &:hover {
            color: $background-color;
        }
    }
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col {
        padding-top: 0;
    }

    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        padding-top: 0;
        float: left;
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
    .footer-col.wider {
        width:         calc(100% - (#{$spacing-unit} / 2));
        margin-bottom: 0;
        margin-top: -10px;
    }
}



/**
 * Page content
 */
.main-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -1 * $footer-height;
}

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    margin-left: $padding-unit;
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post {
    background-color: rgba(255,255,255,0.8);
    padding: $padding-unit;
    padding-bottom: 1px;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.photo-caption {
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 2px #000 !important;
    a {
        color: #fff;
    }
}
